<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.7.300.74" manuallyInstalled="true" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.407.24" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="3.7.402.35" manuallyInstalled="true" />
  <package id="AWSSDK.SecurityToken" version="3.7.300.75" manuallyInstalled="true" />
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.5.5" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" manuallyInstalled="true" />
</packages>